.end-date-input {
}

.list-item {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }

  &.list-item-selected {
    font-weight: bold;
    &::after {
      content: "";
      display: block;
      height: 0.25rem;
      background-color: #007bff;
    }
  }
}

.ddl-list-item {
  svg path {
    fill: #007bff;
  }

  &.k-state-selected {
    svg path {
      fill: white;
    }
  }
}
