@import "./variables";
@import "./bootstrap";
@import "./typography";
@import "./kendo";

body {
  font-family: $roboto;
}

main {
  background-color: rgba(236, 238, 239, 0.5);
}

.add-new .k-select {
  display: none;
}

a,a:hover {
  text-decoration: none;
}
