.header {
  h1,
  p {
    line-height: 1;
    color: white;
  }
}

.currency-input {
  img {
    width: 58px;
    height: 58px;
    border-radius: 100%;
  }
  span {
    font-weight: 300;
    color: white;
  }
}
